body{
    background-color: #CDCDCD;
    font-family: Helvetica, sans-serif;
    margin: 10%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;   
}

h1{
    text-align: center;
    color: #147daa;
    font-size: 4ch;
    text-shadow: 3px 3px #72b7d4d0;
}

.AreadeCalc{
    padding: 20px;
    box-shadow: 3px 3px 10px #727272, -3px -3px 15px #727272;
    background-color: #72b7d4;
    border-radius: 10px;
    margin-left: 5px;

}

input {
    border: 2px solid #698FA4;
    border-radius: 5px; 
    margin: 5px;
    padding: 6px; 
    margin: 10px;
}

.resultados{
 padding: 10px;
}

button{
    border: 2px solid #13425B;
    border-radius: 7px;
    cursor: pointer;
    padding: 6px;
    background-color:#13425B ;
    color: white;
    font-size: 15px;
}

.areabtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

